<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv=" Content-Type">
  </head>
  <body>
    <h1>New <%= @type -%> from <%=@user.name%></h1>
    <p>
      <%= @msg %>
    </p>
  </body>
</html>
    